*.o
*.log
*.swp
autom4te.*
*.dll
*.exe
Makefile
configure
test/PngSuite-2011apr25
test/data/*.pdf
test/font/*.tt[cf]
test/font/*.otf
examples/mbtext/*.txt
examples/rawimage/*.dat
examples/type1/*
examples/*.pdf
examples/ttfont
examples/images/*.jpg
examples/pngsuite
examples/3dmodels